__pycache__
/venv
/output_amex_documentai
/output_bank_of_america_documentai
/output_chase_documentai
/output_wells_fargo_documentai
/output_TD_bank_documentai
/output_iberia_bank_documentai
/output_mercury_documentai
/output_morgan_stanley_documentai
/output_ocean_documentai
/output_popular_documentai
/output_suntrust_documentai
/output_truist_documentai
credencials.json
test.py
un-analitica-avanzada-c681cb310169.json
token_drive_v3.pickle
*.docx